/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    font-family: 'Roboto', sans-serif;

}

.footer {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    font-size: 14px;

}