/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {

    font-family: 'Roboto', sans-serif;

}

.footer {

    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}