<h1 class="roomcode-text">Room Code: {{UserService.user.room}}</h1>

<div class="wrapper">

    <div class ="random-movie">
        <button mat-raised-button color="primary" class="random-button" (click)="randomMovie()">Random Movie</button>
    </div>

    <div class ="create-movie" >
        <input matInput id="new-movie" placeholder="enter a movie" [(ngModel)]="titleText">
        <button mat-raised-button color="primary" class="create-button" (click)="addMovie(titleText, UserService.user)">Add</button>
    </div>

    <div class="movies-list">

    <mat-table #table class="movie-table" [dataSource]="movies">

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{movie.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
            <mat-cell *matCellDef="let movie"> {{movie.user.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let movie" ><button mat-button color="warn" class="remove-button" (click)="removeMovie(movie)">Remove</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['title', 'user', 'delete']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'user', 'delete'];"></mat-row>

    </mat-table> 

    </div>

</div>